/*.hero-unit {
    background-image:url('../resources/banner/mission1.jpg');
	width: 100%; 
	height: auto;
	//height: 80%;
   // background-repeat: no-repeat;
    padding: 60px;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    webkit-border-radius: 6px;
    moz-border-radius: 6px;
    border-radius: 6px;
}

.hero-unit img {
 //width: 100%; height: auto;   
 height:100%; width:100%;
}*/

.jumbotron{
	height:60%;
    background-image:url('../resources/banner/mission1.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center center; 
}
